#home {
	background: #007BFF;
	color: white;
}

.caixa {
	padding: 60px ;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}

body { 
	min-width: 400px;
	max-width: auto;
	margin-right: 0px; 
}

#mapa {
	background-color: #F0BE2D;
	padding: 7px;
	border-radius: 5%;
	
}