#home {
	background: #224153 /*#007BFF*/;
	color: white;
}

.caixa {
	padding: 60px ;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}

body { 
	min-width: 350px;
	max-width: auto;
	margin-right: 0px; 
}

#mapa {
	background-color: #d2d2d2 /*#F0BE2D*/;
	padding: 7px;
	border-radius: 5%;
	
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #d2d2d2;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb {
	background: #224153;
	border-radius: 30px;
}