/*BARRA LATERAL*/

::-webkit-scrollbar {
	width: 13px;
}

::-webkit-scrollbar-track {
	background: #d2d2d2;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb {
	background: #224153;
	border-radius: 30px;
}

/*CORES*/
.bg-azulEscuro {
	background-color: #224153 !important;
  }

.bg-azulClaro {
	background-color: #46CFF8 !important;
  }

.bg-cinza {
	background-color: #D2D2D2 !important;
  }

/*CORES DE BOTÕES*/
.btn-azulEscuro {
    color: #fff;
    background-color: #224153;
    border-color: #224153;
  }

  .btn-azulClaro {
    color: #fff;
    background-color: #46CFF8;
    border-color: #46CFF8;
  }

  .btn-cinza {
    color: #224153;
    background-color: #D2D2D2;
    border-color: #D2D2D2;
  }

  /*BOTOES*/
  .btn-outline-azul {
    color: #46CFF8;
    border-color: #46CFF8;
  }
  .btn-outline-azul:hover {
    color: #fff;
    background-color: #46CFF8;
    border-color: #46CFF8;
  }

  .btn-outline-verde {
    color: #01E675;
    border-color: #01E675;
  }
  .btn-outline-verde:hover {
    color: #fff;
    background-color: #01E675;
    border-color: #01E675;
  }